p {
	width: 200px;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	margin: 0;
	}

p#A {
	background: red;
	height: 100px;
	float: left;
	padding: 3%;
}

p#B {
	background: tan;
	height: 50px;
	float: left;
	padding: 3%;
}

p#C{
	background: green;
	height: 25px;
	float: left;
	padding: 3%;
}
.footer {
	background: #00e087;
	clear: both;
	padding: 10%;
	width: 600px;
	height: auto;
	}

	