/* styles for navigation */

#nav {
	overflow: hidden;
	width: 505px;
	margin: auto;
}
#nav ul {
	list-style:none;
	padding: 0;
	margin: auto;
	width: 100%;

} 
#nav ul li {
	font-weight: normal;
	float: left;

}
#nav ul li a{
	display: block;
	padding: .5em;
	color: black;
	background-color: #F7F2E0;
	border: 1px solid #A4A4A4;
	border-radius: .5em;
	margin: .25em;
	text-decoration: none;
}
#nav ul a:link {
    color: #000;
	font-weight: bold;
  }
#nav ul a:visited {
    color: #000;
  }
#nav ul a:focus {
	color:#6E6E6E;
	border-color: #fff;
}
#nav ul a:hover {
    color: #2E9AFE;
	border-color: #fff;
  }