body{
	Margin: 0;
	Padding: 0;
	font-family: Titillium Web;
	color: darkgrey;
	background: #f3f3f3;
}
h2 {
	color: white;
}
.container{
	max-width: 960px;
	width: 96%;
	margin: auto;
}
/*-------Header --------*/

header {
	background: #fff;
	margin-bottom: 26px;
	overflow: hidden;
}
.logo{
	float: left;
	margin-top: 10px;
}

nav{
	float: right;
	line-height: 70px;
}
nav li{
display: inline-block;
padding: 5px 20px;
margin-left: 10px;
background: #f3f3f3;
line-height: normal;
}

/*-------- Contents ------------*/
.content h2 {
	background: #FF4719;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	
}
.content article {
float: left;
width: 600px;
border-color: 2px solid red;
}
.content ul{
	float: right;
	width: 250px;
	background: #338989;
	padding:20px;
	border-radius: 5px;
	list-style: none;
	border-color: 2px solid red;
	}
.content ul li {
	color: white;
	margin-bottom: 5px;

}