/* Rules for Text Examples */
#text p {
	text-align: center;
}

p.odd {
	font-weight: bold;
	font-family: "Helvetica";
}
p.even{
	font-family: courier;
}
#textEx1 {
	font-size: 1.5em;
}
#textEx2{
	font-size: 1.4em;
}
#textEx3 { 
	font-size: 1.3em;
} 
#textEx4 {
	font-size: 1.2em;
}
#textEx5{
	font-size: 1.1em;
}
#textEx6{
	font-size: 1.0em;
}
#textEx7{
	font-size: .9em;
}
#textEx8{
	font-size:.8em;
	line-height: 3em;
}
/*Rules for List Examples */
.list1 li{
	list-style-type: square;
}
#list ul.list1 li{
	font-family:Helvetica;
	font-size: 12px;
}
.title {
	font-size: 16px;
	color: #ff0000;
}
.year {
	font-weight: bold;
	font-size: 25px;
	font-family: Helvetica;
	color: #0000ff;
}
#list .list2 li {
	list-style-type: Upper-roman;
	color: red;
}
#list ol.list2 li.odd, #list ol.list2 li.odd .state{
	color: red;
	text-transform: uppercase;
}
#list ol.list2 li.even {
	list-style-type: Upper-roman;
	color: green;
	font-size:1.5em;
}
#list ol.list2 li.even .state{
	color: green;
	font-size:1.3em;
}
.pop {
	font-weight: bold;
	font-size: 2.0em;
}
#list ol.list3 {
    list-style-type:decimal-leading-zero;
}
#list ol.list3::first-line { 
    text-decoration: line-through;
}
#list ol.list3  li :last-child{
	text-decoration: line-through;
}
/* Can not figure out how to get line through "for"!
#list ol.list3 li :nth-child (even) {
	text-decoration: line-through;
}*/


/*Rules for Background Example */
#background #block1 {
	text-decoration: underline;
	background-image: url("tile1.jpg");
	color: blue;
	font-size: 3em;
	text-align: center;
}
#background #block2 {
	text-decoration: underline;
	background-image: url("tile2.jpg");
	background-repeat: repeat-x;
    background-position: top; 
	color: red;
	font-size: 3em;
	text-align: center;
}
#background #block3 {
	text-decoration: underline;
	background-image: url("tile3.jpg");
	background-repeat: repeat-y;
	color: green;
	font-size: 3em;
	text-align: right;
}
#background #block4 {
	text-decoration: underline;
	background-image: url("tile4.jpg");
	background-repeat: repeat-x;
    background-position: bottom; 
	color: orange;
	font-size: 3em;
	text-align: right;
}
#background #block5 {
	text-decoration: underline;
	background-image: url("tile5.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	color: gray;
	font-size: 3em;
	text-align: center;
}
/* Rules for Gradient Examples */
#gradient blockquote.quote1{
	background-image: linear-gradient(90deg, yellow, green);
}
#gradient blockquote.quote2 {
	background-image: url(linear-gradient);
}
#gradient blockquote.quote3{
	background-image: linear-gradient(180deg, yellow, green);
}
#gradient blockquote.quote4{
	background-image: linear-gradient(360deg, yellow, green);
}
#gradient blockquote.quote5{
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
#gradient blockquote.quote6{
	background-image: linear-gradient(to left, silver, teal);
}
#gradient blockquote.quote7{
	background-image: linear-gradient(to bottom, silver, teal);
}
#gradient blockquote.quote8{
	background-image: linear-gradient(to top, silver, teal);
}
#gradient blockquote.quote9{
	background-color: blue;
	color: #fff;
}
#gradient blockquote.quote10{
	background-color: green;
	color: #fff;
}
/*Rules for Peudo Element and Class Selector */

#pseudo ol.toc {
	list-style-type: Upper-roman;
	text-shadow:   1px 1px #FF0000;
}
#pseudo ol.toc  li > :first-child {
	text-shadow:   none;	
}
#pseudo ol.toc ol li :first-child {
	list-style-type:lower-alpha;
}

#pseudo ol.toc ol li >:first-child {
	list-style-type:lower-alpha;
}
#pseudo ol.toc ol li >:first-line {
		font-weight: bold;
}
#pseudo ol.toc ol li :nth-child(even) {
	color: blue;
}
.recipe *{
	font-size: 14px !important;
	font: monospace !important;
	color: lime !important;
}
